@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundL.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundR.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundB.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundEB.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, div, section, article, header, footer {
    color: rgb(58, 58, 58);
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "NanumSquareRound", sans-serif;
    text-align: center;
}

body {
    background-color: #D2EAD2;
}

a {
    color: rgb(58, 58, 58);
    font-weight: 500;
    border-bottom: 2px solid #2c2c2c;
    text-decoration: none;
}

a:link {
    color: rgb(58, 58, 58);
}

a:visited {
    color: rgb(58, 58, 58);
}

a:hover {
    color: rgb(104, 104, 104);
}

a:active {
    background-color: rgb(104, 104, 104);
}

a.blackbg {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid black;
    text-decoration: none;
}

a.blackbg:link {
    color: black;
}

a.blackbg:visited {
    color: black;
}

a.blackbg:hover {
    color: rgb(88, 88, 88);
}

a.blackbg:active {
    background-color: black;
}


body{

    transition: 0.5s;
}

h1, h2, h3, p {
    box-sizing: border-box;
}

h2 {
    font-family: "NanumSquareRound", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 140%;
    text-align: left;

    margin: 140px auto 30px auto;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 180%;
    text-align: left;
}

strong {
    font-weight: 500;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header {
    width: 100%;
    height: 50px;

    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;

    padding: 10px 0;

    transition: 1s;

    color: black;
    font-weight: 700;
    background-color: #D2EAD2;
}

.header span {
    display: inline-block;
    text-align: center;
    line-height: 31.6px;
}

/* Article */

/* Prologue */

.scroll-graphic {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.graphic-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    opacity: 0;
    transition: 1s;
    will-change: opacity;
}

.wall {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.visible {
    opacity: 1;
}

.scene-img {
    height: 90vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.cliff-img {
    height: 200vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-img {
    width: 100%;
}

.scroll-text {
    position: relative;
    padding-bottom: 1px;
}

.step {
    width: 380px;
    margin: 0 auto 80vh auto;
    padding: 1.3rem 1rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 15px;
    border-style: solid;
    border-width: 2px;
}

.stepBlack {

    color: white;
    background: rgba(36, 36, 36, 1);
    box-shadow: rgba(36, 36, 36, 1) 0px 0px 15px;

}

.center {
    text-align: center;
}

.step p {
    margin: 0;
}


.bird {
    position: absolute;
    left: 0;
    bottom: 70%;
    width: 100px;
    transform: translateX(-100%);
    transition: 1.5s 0.5s linear;
}
[data-index="5"] .bird {
    left: 30%;
    bottom: 30%;
}

.graph {
    width: 520px;
}

.graph2 {
    width: 620px;
    margin: 0 auto;

}

.candidate {
    width: 30%;
    margin: 0 auto;
}

/* Intro */

.intro{
    margin: 40px 0 60px 0;
    text-align: center;
    z-index: 100;
}

.intro h1 {
    color: rgb(48, 48, 48);
    margin: 10px 0;
    font-size: 50px;
    line-height: 120%;
    font-weight: 700;
}

.intro p {
    text-align: center;
}


.text {
    max-width: 520px;
    margin: 0 auto;
}


.floatText {
    max-width: 420px;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    padding: 1.0rem 1.1rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 15px;
    border-style: solid;
    border-width: 2px;
}

.whiteText {
    color: rgb(206, 206, 206);
    max-width: 520px;
    margin: 0 auto;
}

.highlight {
    font-weight: 500;
    border-bottom: 2px dotted #2c2c2c;
}

.highlightB {
    color: white;
    font-weight: 500;
    border-bottom: 2px dotted white;
}

/* Chapter */
.chapter {
    margin: 120px 0 60px 0;
    z-index: 100;
}

.chapter h2 {
    text-align: center;
    color: rgb(48, 48, 48);
    margin: 10px 0;
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
}

.toBlack {
    background-color: rgb(36, 36, 36);
}

.toWhite {
    background-color: rgb(255, 255, 255);
}


/* Credit */
.credit {
    margin: 50px auto 10px auto;
    font-weight: 500;
    font-size: 20px;
}

.creditList {
    margin: 10px auto 100px auto;
    text-align: left;
    width: 50%;
    float: left;
}

.articleList {
    margin: 20px auto 50px auto;
    text-align: left;
}


@media screen and (max-width: 640px)
{
    .graphic-item {
        width: 100%;
        left: 0;
    }
    .scene-img {
        height: 100vh;
    }

    .intro h1 {
        margin: 10px 0;
        font-size: 40px;
        line-height: 120%;
        font-weight: 700;
    }

    .text {
        padding : 0 20px;
    }

    .whiteText {
        padding: 0 20px;
    }


    .appear {
        width: 90vw;
    }
    .pan {
        width: 80vw;
        height: 50vw;
    }

    /* scroll contents */
    .step {
        width: 90%;
    }

    .text2 {
        max-width: 800px;
        margin: 0 auto;
        position: absolute;
    }

    .graph {
        width: 100%;
    }
    .graph2 {
        width: 100%;
    }

}

#react-map svg path:hover {
    fill: yellow;
}